*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Lato', sans-serif;
display: flex;
flex-direction: column;
}

.bg-home{
    position: relative;
   height: 95vh;
}
.bg-home::before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom,#1f28394f, #1f28396c), url("../img/banner.jpg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}
.hero-container{
    color: #FFF;
    width: 40%;
    text-align: center;
    padding: 3.5rem;
    
    display: flex;
    flex-direction: column;
    position: relative;
}
.hero-text-primary{
    margin-top:1.5rem ;
    font-size: 3rem;
}
.hero-text-secondary{
    margin-top: 0.5rem;
    font-size: 1.5rem;
}
.btn-hero{
   
    margin-top: 1rem;
    margin-left: 4rem;
    padding: .8rem;
    width: 50%;
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFF;
    background-color:#232227 ;
   
}
.btn-hero:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 12px black;
}


.recomendo-box{
    position: absolute;
    margin: 0 35%;
    margin-bottom: 5rem;
    top: 34rem;
    padding: 2rem;
    display: flex;
    width: 30%;
    align-content: center;
    background-color: #232227;
    box-shadow: 20px 20px 12px black;
}
.recomendo-text{
    color: #fff;
    margin-left: .5rem;
    
}
.recomendo-text:hover{
    transform: translateY(-5px);
}
.title-sobre{
    margin-top: 15rem;
    margin-left: 2rem;
    font-size: 2rem;
    color: #808080;
}
.sobre-box{
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    margin-bottom: 15rem;
    color: #808080;
}
.sobre-text{
    width: 50%;
    font-size: 1.5rem;
}
.sobre-img{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    width: 40%;
    height: 60vh ;
}

.card-box{
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
    margin-bottom: 15rem;
}
.card1 {
   
    width: 20%;
    height: 50vh;
    background-image: url("../img/card1.jpg");
    background-size: cover;
    position: relative;
}
.card2 {
    
    width: 20%;
    height: 50vh;
    background-image: url("../img/card2.jpg");
    background-size: cover;
    position: relative;
}
.card3 {
   
    width: 20%;
    height: 50vh;
    background-image: url("../img/card3.jpg");
    background-size: cover;
    position: relative;
}
.card1 .overlay{
    width: 100%;
    height: 100%;
    background:rgba(29, 28, 28, 0.781) ;
    opacity: 0;
}
.card2 .overlay{
    width: 100%;
    height: 100%;
    background:rgba(29, 28, 28, 0.781) ;
    opacity: 0;
}
.card3 .overlay{
    width: 100%;
    height: 100%;
    background:rgba(29, 28, 28, 0.781) ;
    opacity: 0;
}
.overlay{
   
    transition: 3.2s;
}

.card1:hover .overlay{
    opacity: 1;
   
}
.card2:hover .overlay{
    opacity: 1;
   
}
.card3:hover .overlay{
    opacity: 1;
   
}
.card1 h4{
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}

.card2 h4{
    font-size: 2rem;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}
.card3 h4{
    font-size: 2rem;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}

.cta-box{
    height: 50vh;
    margin: 0;
    background-color: #232227;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.cta-text-box{
    display: flex;
    flex-direction: column;
}
.cta-text-box{
    font-size: 2rem;
    width: 50%;
    color: #fff;
}

.imgCTA{
    position: absolute;
    top: -3.5rem;
    right: 2rem;
    height:59vh;
}


.feedback-box{
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: gray;
}
.feedback{
    border: 2px solid gray;
    width: 20%;
    height: 70vh;
    position: relative;
}
.feedback-img1{
    position: absolute;
    background-image: url("../img/pessoa1.jpg");
    background-size: cover;
    border-radius: 100%;
    width: 50%;
    height: 25vh;
    top: -4rem;
    left: 2.5rem;
    padding: 5rem;
}
.feedback-img2{
    position: absolute;
    background-image: url("../img/pessoa2.jpg");
    background-size: cover;
    border-radius: 100%;
    width: 50%;
    height: 25vh;
    top: -4rem;
    left: 2.5rem;
    padding: 5rem;
}
.feedback-img3{
    position: absolute;
    background-image: url("../img/pessoa3.jpg");
    background-size: cover;
    border-radius: 100%;
    width: 50%;
    height: 25vh;
    top: -4rem;
    left: 2.5rem;
    padding: 5rem;
}

.feedback-text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    padding: 2rem;
}
.feedback-text{
    padding: 1rem;
}
.feedback-title{
    font-size: 2rem;
}

.footer-box{
    height: 35vh;
    background-color:  #1f2839cb;
    position: relative;
    color: #FFF;
}
.footer-box-text{
    position: absolute;
   top: 5rem;
   left: 5rem;
}
.contato-title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.contato-items{
    font-size: 1.5rem;
    list-style: none;
}

@media (min-width:476.98px) and (max-width:900px){
    body{
      
    }
   .hero-text-primary{
       font-size: 1rem;
      }
      .hero-text-secondary{
       font-size: 1rem;
      }

      .btn-hero{
       
       text-align: center;
       font-size: .5rem;
       padding-right: .5rem;
      }
      .recomendo-box{
       width:50%;
      }
      .recomendo-text{
       font-size: .7rem;
      }
      .sobre-text{
       font-size: 1rem;
      }
      .sobre-img{
       background-position: center center;
      }
      .cta-text-box{
       font-size: .7rem;
       width: 40%;
       margin-right: 8rem;
      }
      .imgCTA{
       right: 2rem;
      }
      .feedback-box{
       flex-direction: column;
       align-items: center;
      }
      .feedback{
       margin-bottom: 5rem;
       width: 45%;
      }
      .feedback-img1{
       width: 15%;
       height: 18vh;
       padding: 4.5rem;
      }
      .feedback-img2{
       width: 15%;
       height: 18vh;
       padding: 4.5rem;
      }
      .feedback-img3{
       width: 15%;
       height: 18vh;
       padding: 4.5rem;
      }
      .feedback-text-box{
       font-size: .7rem;
      }
      .contato-title{
       font-size: 1.5rem;
      }
      .contato-items{
       font-size: 1rem;
      }
      .card1 h4{
       text-align: center;
       font-size: 1rem;
      }
      .card2 h4{
       font-size: 1rem;
      }
      .card3 h4{
       font-size: 1rem;
      }
}
@media (min-width:909px) and (max-width:1300px) {
   
   .hero-text-primary{
       font-size: 2.5rem;
      }
      .hero-text-secondary{
       font-size: 1.5rem;
      }
      .btn-hero{
      
       text-align: center;
       font-size: 1.8rem;
       padding-right: 2.5rem;
      }
      .recomendo-box{
       width:50%;
      }
      .recomendo-text{
       font-size: .7rem;
      }
      .sobre-text{
       font-size: 1rem;
      }
      .sobre-img{
       background-position: center center;
      }
      .cta-text-box{
       font-size: .7rem;
       width: 40%;
       margin-right: 8rem;
      }
      .imgCTA{
       right: 5rem;
      }
      .feedback-box{
       flex-direction: column;
       align-items: center;
      }
      .feedback{
       margin-bottom: 5rem;
       width: 45%;
      }
      .feedback-img1{
       width: 15%;
       height: 18vh;
       padding: 4.5rem;
       left: 6rem;
      }
      .feedback-img2{
       width: 15%;
       height: 18vh;
       padding: 4.5rem;
       left: 6rem;
      }
      .feedback-img3{
       width: 15%;
       height: 18vh;
       padding: 4.5rem;
       left: 6rem;
      }
      .feedback-text-box{
       font-size: .7rem;
      }
      .contato-title{
       font-size: 1.5rem;
      }
      .contato-items{
       font-size: 1rem;
      }
      .card1 h4{
       text-align: center;
       font-size: 1rem;
      }
      .card2 h4{
       font-size: 1rem;
      }
      .card3 h4{
       font-size: 1rem;
      }
}